<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{title}
  link(rel="stylesheet", href="stylesheets/icons.css")
  link(rel="stylesheet", href="stylesheets/normalize.css")
  link(rel="stylesheet", href="stylesheets/app.css")
body.bgPanel
  header.headerPanel--ML
    
    figure.headerPanel--ML--Figure
      a(href="http://milleniatest.xyz/")
        img(src="images/logo.png", alt="")
      span.title
        | Sistema MilleniaCapital
    //.De--ML
      span.titleUser
        i(class="fa fa-user", aria-hidden="true")
        | #{name}

  main
      
      if name == "milleniacapital"
        div.listadoUserUpload
          a.link(href="panel")
            | Subir Archivos
      else
        //No eres admin
      section.listadoFiles
        header.listadoFiles__Header(style="background-color:white;color:black;padding:0.3em;margin: 0 0 1em 0;")
          h3(style="font-weight:400;") La Comisión Nacional de Valores, a través de la Res. CNV CG N° 19/16, resolvió disponer las normas para la publicación de los Estados Contables Básicos y Notas a los Estados Contables de las Casas de Bolsa.
 
        each items in files
          a.listadoFiles--Container(href="#{items.urlFile}", style="text-decoration:none;", target="_blank")
            .container--Iz
                i(class="fa fa-cloud-download", aria-hidden="true")
            .container--De
              strong.nameFile
                | #{items.fecha}
              //span.fechaFile
                | #{items.fechaFile}
        